<li>
	{{name}}
	<button class="Devour" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}Time to Eat!{{else}}Eat{{/if}}
	</button>
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>