<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" id="top-bar">
            <h1> Eat-Da-Burger! </h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Menu</strong></h3>
            <div class="row"></div>
        </div>
        <div class="panel-body">
            {{#each data}} {{#unless this.devoured}}
            <div class="col-xs-12 spacer">
					<form method="POST" action="/burger/update?_method=PUT" class="button-size">
						<img class="shrink" src="assets/img/cuteburger.png"></img>
                        <span class="text-left">{{this.burger_name}}
                        <input input type="hidden" type="text" name="burger_id" value={{this.id}}>
						<button type="submit" class="btn btn-success pull-right btn-sm">Order</button>
					</form></span>
            </div>
            {{/unless}} {{/each}}
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Customize your Burger!</strong></h3></div>
        <div class="row">
            <div class="col-xs-12 text-center enter_section">
                <div class="panel-body">
                    <p class="text-left bold">Place a custom burger order!</p>
                    <form action="/burger/create" method="POST">
                        <input type="text" class="form-control" name="burger_name" value="" id="enter_text" placeholder="Place order here" required>
                        <br>
                        <button type="submit" class="btn btn-primary pull-right btn" id="text-enter-button">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>View your order</strong></h3></div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel-body">
                    <div class="col-xs-12">
                        {{#each data}} {{#if this.devoured}}
                        <div class="col-xs-12 spacer">
                            
					<form method="POST" action="/burger/{{this.burger_name}}?_method=DELETE" class="form-inline">
						<input input type="hidden" type="text" name="burger_id" value={{this.id}}>
                        <img class="shrink" src="assets/img/cuteburger.png"></img>
                        <span class="text-left">{{this.burger_name}} </span>
						<button type="submit" class="btn btn-danger pull-right btn-sm">Delete</button>
					</form>
                        </div>
                        {{/if}} {{/each}}
                    </div>
                </div>
            </div>
        </div>